.Editor > section {
    margin-bottom: 40px;
}

.Editor > section > h4 {
    font-size: 22px;
    font-weight: bold;
}

.Editor > section > input, textarea {
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px
}

.Editor > section > textarea {
    padding: 20px;
    width: 100%;
    min-height: 200px;
    /* 가로로는 못 늘리고 세로로만 늘릴 수 있도록 */
    resize: vertical;
    /* textarea가 화면의 밖으로 튀어나가지 않도록 */
    box-sizing: border-box;
}

.Editor .emotion_section .emotion_list_wrapper {
    display: flex;
    justify-content: space-around;
    gap: 2%;
}

.Editor .button_section {
    display: flex;
    justify-content: space-between;
}