p {
    color: blue;
}

.likelion {
    color: #FF9900;
}

#p-tag {
    border: 1px solid blue;
}

.box {
    width: 400px;
    height: 400px;
    margin: 30px;
    padding: 50px 20px 30px 8px ;
    background-color: #FF9900;
    border: 30px solid red;
}

.con {
    display: flex;
    background-color: #FF9900;
    justify-content: space-around;
}

.item {
    margin: 5px;
    background-color: yellow;
}