/* 상단바 hover 애니메이션 */
/* 마우스 호버 시 글자 크기와 투명도를 조절하는 애니메이션 정의 */
@keyframes ani { 
    0% {
      opacity: 0;
      font-size: 15px;
    }
    80%{
      opacity: 0.8;
      font-size: 20px;
    }
    90%{
      opacity: 0.9;
      font-size: 30px;
    }
    100% {
      opacity: 1;
      font-size: 50px;
    }
  }
  
  html{
    /* 부드러운 스크롤 효과 */
    scroll-behavior: smooth;
  }
  
  /* -----------------------------------------------------[navbar]----------------------------------------------------- */
  #main-nav{
      height: 75px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgb(218, 246, 255);
      display: flex;
      justify-content: space-between; /*main-nav안 요소 가로정렬*/
      border: 100px blue;
  }
  
  .nav-image{
      width: 75px;
      height: 75px;
      margin-left: 30px;
      margin-right: 30px;

  }
  
  .main_menu{

      display: flex;
      padding-inline: 3%;/*메뉴들 오른쪽으로 붙는 정도*/
  }
  
  .main_menu2{
      font-weight: bold;
      font-size: 20px;
      cursor: grab;
      display: flex; /*세로 중앙 정렬*/
      margin-left: 50px;/*가로 정렬*/
      align-items: center; /*세로 중앙으로 정렬*/
      padding: 0px 5px 0px 5px;
  }
  
  .main_menu2:hover{
      color: cornflowerblue;
      background-color: rgb(184, 184, 190);
      border-radius: 13px 5px;
      animation: ani 1.5s forwards;
  }
  
  body{
      /* body 요소의 상단 여백을 추가해 고정된 네비게이션 바와 겹치지 않게 함 */
      padding-top: 2.5%;
  }
  
  /*------------------------------------------------------[Side Bar]----------------------------------------------------*/
  body, ul, li {
      margin: 0;
      list-style: none;   	
    }
    
    a {
      text-decoration: none; 
    }
  
    /* 사이트의 높이를 5000px로 만들어 스크롤 생성 */
    /* 전체 페이지 배경색 설정 */
    body {
      background-color: #8cc7e9;
    }
    
    /* 사이드바 메뉴 접힘 기능을 위한 초기 숨김 처리 */
    .side-bar > ul ul {
      display: none;
    }
    
    /* 사이드바의 너비와 높이를 변수를 통해 통제 */
    :root {
      --side-bar-width: 40vw;
      --side-bar-height: 85vh;
    }
    /*너비가 커졌을 때*/
    @media (min-width: 600px) { 
        /* 사이드바의 너비와 높이를 변수를 통해 통제 */
      :root {
        --side-bar-width: 250px;
        --side-bar-height: 85vh;
      }
    }
    
    .side-bar {
      position: fixed;    /* 스크롤을 따라오도록 지정 */
      background-color: black;
      width: var(--side-bar-width);
      min-height: var(--side-bar-height);   /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
      margin-top: calc((100vh - var(--side-bar-height)) / 2);    /* 사이드바 위와 아래의 마진을 동일하게 지정 */
    }
    
    /* 모든 메뉴의 a에 속성값 부여 */
    /* 사이드바 메뉴 항목의 기본 스타일 설정 */
    .side-bar ul > li > a {
      display: block;
      color: white;
      font-size: 1.4rem;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
  
    }
  
    /* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
  .side-bar {
      /* 사이드바 둥근 테두리 적용 및 숨겨진 상태 설정 */
      border-radius: 20px;
      transform: translate(calc(var(--side-bar-width) * -0.85), 0);  /* X축 이동, Y축 고정 */
      transition: .5s;
    }
    
    /* 마우스 인식 시 원래의 위치로 이동 */
    .side-bar:hover {
      transform: translate(-20px, 0);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */
    }
  
    /* ---------------------------------------------------[Main Page Img]------------------------------------------------- */
  /* 메인 페이지 첫 번째 이미지 영역의 레이아웃 설정 */
  #main_page_img{
    margin-top: 50px;

    /* height: 900px; */
    display: flex;
    padding-top: 2.5%;
    padding-left: 15%;
    padding-right: 15%;
    /* border: 5px solid green; */
  }

  
  #my_pic{
    margin: 10px 0px 5px 0px;
    width:  500px;
    height: 750px;
    border: 5px double powderblue;
  }
  
  .basic_info{
    display: flex;
  }
  
  .basic_info_Q{
    width: 100px;
    text-align: center; /*위치 위로 고정*/
    align-self: top; /*요놈들 범위 내에서 가운데 정렬*/
    font-size: 30px;
    padding-left: 3vw; /*사진이랑 거리두기*/
    font-weight: bold;
    color: rgb(245, 230, 255);
  
  }
  
  .basic_info_A{
    width: 400px;
    align-self: top;
    font-size: 30px;
    padding-left: 1vw;
    font-weight: bold;
    color: white
  }
  
  .want_tall{
    font-size: 15px;
  }
  
  .logo{
    padding: 0px 0px 0px 3vw;
    width: 65px;
    height: 65px;
  }
  
  .click_please{
    padding: 0px 0px 15vh 15%;
  }
  
  /* ---------------------------------------------------[Main Page 2]------------------------------------------------- */
  #main_page_2{
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    align-items: center;     /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    height: 80vh;
    padding: 2% 15%;
    
  }
  
  #gotoweb {
    padding-top: 75px;
    text-decoration: none;
    color: blanchedalmond;
    font-size: 30px;
  }

  .gotoweb2,
  .mylife {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  /* --------------[망한 Progress bar]-------------- */
  /* .progress-container{
    z-index: 1000;
    width: 80%;
    height: 10px;
    background: transparent;
  }
  
  .progress-bar{
    height: 10px;
    background: #A4A4A4;
    width: 0%;
  } */
  /* --------------[망한 Progress bar]-------------- */
  
  /* 텍스트에 그라디언트 효과를 주는 클래스 */
  .gradi{
    background: linear-gradient(to bottom, red, orange, yellow, lightgreen, rgb(3, 97, 135), indigo, purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;

  }

  /* .mp2_ms{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  } */
  
  /* ---------------------------------------------------[Main Page 3]------------------------------------------------- */
  #main_page_3{
    height: 80vh;
    padding-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    /* border: 5px solid black; */
  }

  .clickpick2{
    font-size: 8px;
  }
  
  /* 취미(hoby) 섹션의 전체 레이아웃 설정 */
  .hoby_menu{
    display: flex;
    justify-content: space-between; /*main-nav안 요소 가로정렬*/
    padding-top: 1%;
  }
  
  .hoby{
    width: 220px;
    height: 300px;
    border: 5px solid black;
  }
  
  .hoby:hover{
    width: 300px;
    height: 400px;
  }
  
  .hoby:hover > .hoby_img{
    width: 270px;
    height: 350px;
  }
  
  .hoby_topic{
    font-size: 25px;
    padding-top: 3px;
    padding-left: 5px;
  }
  
  .hoby_img{
    padding-left: 10px;
    width: 200px;
    height: 260px;
  }




  /*너비가 작아졌을 때*/
  @media (max-width: 800px) { 
    #my_pic{
      width: 250px;
      height: 310px;
    }

    .basic_info_Q{
      width: 100px;
      text-align: center; /*위치 위로 고정*/
      align-self: top; /*요놈들 범위 내에서 가운데 정렬*/
      font-size: 13.5px;
      padding-left: 2vw; 
      font-weight:lighter;    
    }
    
    .basic_info_A{
      width: 400px;
      align-self: top;
      font-size: 13.5px;
      padding-left: 1vw;
      font-weight:lighter;
      color: white
    }

      
  .logo{
    padding: 0px 0px 0px 10vw;
    width: 35px;
    height: 35px;
  }



  /* 취미 부분 사이즈 조절 */

  #main_page_3{
    margin-top: 100px;
  }

  .clickpick2{
    font-size: 3px;
  }

  .hoby{
    width: 100px;
    height: 130px;
    border: 5px solid black;
  }
  
  .hoby:hover{
    width: 175px;
    height: 200px;
  }
  
  .hoby:hover > .hoby_img{
    width: 150px;
    height: 180px;
  }
  
  .hoby_topic{
    font-size: 10px;
    padding-top: 3px;
    padding-left: 5px;
  }
  
  .hoby_img{
    padding-left: 3px;
    width: 80px;
    height: 100px;
  }
}