@font-face {
    font-family: 'CR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "CR";
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #bafaff;
}

.inputbox {
    width: 100%;
    display: flex;
}

.input {
    display: flex;
    flex-grow: 3;
    padding: 10px;
}

.btn {
    display: flex;
    padding: 10px;
    flex-grow: 1;
}

.end-btn {
    width: 40px;
    border-radius: 3px;
    border: 1px solid whitesmoke;
    
    background-color: seagreen;
    transition: 0.3s;
}
.end-btn:hover {
    background-color: darkgreen;
    color: white;
}
.delete-btn {
    width: 40px;
    border-radius: 3px;
    border: 1px solid whitesmoke;

    background-color: red;
    transition: 0.3s;
}
.delete-btn:hover {
    background-color: darkred;
    color: white;
}

#todo-input {
    border: 1px solid gainsboro ;
    border-radius: 3px;
    outline: none;
    
    width: 100%;
    height: 20px;
    transition: 0.3s;
    padding: 10px;
}
#todo-input::placeholder {
    color: gainsboro;
}
#todo-input:hover {
    background-color: rgb(245, 245, 245);
}
#todo-input:focus {
    border: 0.1px solid gainsboro ;
}

#add-btn {
    border-radius: 3px;
    border: 1px solid gainsboro;

    width: 100%;
    background-color: #FFF;
    transition: 0.3s;
}
#add-btn:hover {
    background-color: ghostwhite;
}

hr {
    color: ghostwhite;
    border-color: ghostwhite;
    background-color: ghostwhite;
}