@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '양진체';
    src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: '양진체';
}

.container{
    padding: 30px;
    display: flex;
    background-color: rgb(218, 246, 255);
    justify-content: space-between;
}

.nav-container{
    display: flex;
}

.cl{
    list-style: none;
    display: flex;
    gap: 40px;
}

.cl>li>a{
    color: black;
    text-decoration-line: none ;
}

.cl>li>a:hover{
    color: darkred;
}

.MJU{
    width:120px;
    height:120px;
}

.nav-box>ul{
    list-style: none;
    display: flex;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1{
    font-size: 20px;
}

.section2{
    font-size: 20px;
}

.menu{
    margin :0; padding:0;
    display: flex;
    height: 90px;
}

.menu>hr{
    flex-direction: column;
}

.nav{
    display: flex;
    justify-content: left ;
    align-items: center;
}

aside{
    display: flex;
    flex-direction: column;
    flex-direction: center;
    justify-content: center;
    margin: 30px;
}

h1{
    font-family: 'SBAggroB';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin: 0%;
    padding: 0%;
    margin-top: 30px;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center; 
}

h6{
    font-family: 'SBAggroB';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 0%;
    padding: 0%;
}

.h6{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;  
}

.멋사{
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

textarea{
    display: flex;
    
}


footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0%;
}

.box{
    display: flex;
    justify-content: space-between;
}

.box>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 140%;
}

.article{
    display: flex;
    align-items: center;
}

.article2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.나{
    width:600px;
    height: 700px;
}

.ka{
    width:40px;
    height:40px;
}

.in{
    width:40px;
    height:40px;
}

.fa{
    width:40px;
    height:40px;
}

.tell{
    font-family: 'Times New Roman', Times, serif ;
}

pre{
    font-family: '양진체';
}