#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-mju-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.main-mju-text {
  font-size: 15px;
  font-weight: light;
  color: #000000;
}

#main-title-container {
  width: 60%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #060053;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 18px 50px;
}

#title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title-wrapper > span {
  font-size: 20px;
  font-weight: bold;
}

#main-image {
  width: 70%;
}

#start-button {
  width: 280px;
  font-size: 23px;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #060053;
  cursor: pointer;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 20px 50px;
}

#start-button:hover {
  border: 3px solid #060053;
  background: #ffffff;
  color: #060053;
}

#start-button:active {
  background-color: #060053;
}

.fe-name {
  font-size: 10px;
  background-color: #e9e9e9;

  margin-bottom: 10px;
}
