@font-face {
  font-family: "myfont";
  src: url(font/hamback.ttf);
}

@font-face {
  font-family: "kakaofont";
  src: url(font/KakaoSmallSans-Bold.ttf);
}

/* 공통 스타일 */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(0, 110, 255);
  text-decoration: underline;
}

/* 헤더 & 네비게이션 */
header nav {
  margin-top: 25px;
  margin-left: 30px;
}

.navbar {
  font-family: "myfont", sans-serif;
  font-size: 16px;
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}

/* 프로필 섹션 */
.section1 {
  background-color: #ffffff;
  height: 100vh;
}

.container0 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 50px 100px;
}

.profilephoto {
  height: 600px;
  width: 420px;
  margin-left: 75px;
}

.right-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pro {
  font-family: "myfont", sans-serif;
  margin-top: 90px;
  margin-left: 270px;
  margin-bottom: 10px;
  font-size: 100px;
}

.photo-row {
  display: flex;
  gap: 10px;
  padding-left: 330px;
}

.suitphoto {
  width: 60px;
  height: auto;
  object-fit: cover;
}

.sogae {
  margin-top: 50px;
  font-family: "kakaofont", sans-serif;
  font-size: 24px;
}

.line1 {
  margin-left: 395px;
}
.line2 {
  margin-left: 370px;
}
.line3 {
  margin-left: 330px;
}

/* 좋아하는 것들 섹션 */
.section2 {
  background-color: #cacaca;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start\;;
}

.containerframe {
  margin-right: 100px;
  width: 100%;
  max-width: 1200px;
}

.container01 {
  width: 500px;
  height: 70px;
  background-color: #cacaca;
  display: flex;
  align-items: center;
}

.til {
  font-family: "myfont", sans-serif;
  margin-left: 10px;
  font-size: 45px;
}

.container1 {
  display: flex;
  flex-direction: row;
  background-color: #cacaca;
}

.img1,
.img2,
.img3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wick,
.youra,
.food {
  height: 370px;
  width: auto;
}

/* 텍스트 위치 */
.p1 {
  margin-left: 50px;
  font-family: "myfont";
  font-size: 50px;
}
.p2 {
  margin-left: 62px;
  font-family: "kakaofont";
  font-size: 25px;
}

.p3 {
  margin-left: 160px;
  font-family: "myfont";
  font-size: 50px;
}
.p4 {
  margin-left: 175px;
  font-family: "kakaofont";
  font-size: 25px;
}

.p5 {
  margin-left: 90px;
  font-family: "myfont";
  font-size: 50px;
}
.p6 {
  margin-left: 110px;
  font-family: "kakaofont";
  font-size: 25px;
}

/* 연결 수단 섹션 */
#section3 {
  height: 100vh;
  background-color: #ffffff;
  font-family: "myfont", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section3 h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

#section3 a {
  display: block;
  font-size: 18px;
  margin: 5px 0;
}
