html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 45vw;
    height: 85vh;
    border-radius: 30px;
    border: 50px solid blue;
}

#logo1, #logo2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 30px;
}

#title1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 300px;
    height: 80px;

    border: 1px solid blue;
    border-radius: 10px;
}

#img{
    width: 350px;
    height: 300px;
}

#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}