body{
    background-color: #F0F8FF;
    font-family: 'ChosunGu';
}

.info{
    display: flex;
    justify-content: space-around;
}

@font-face {
    font-family: 'ChosunGu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}